
/* ==========================================================================
   Responsive images and box padding
   ========================================================================= */


   img, object {
    display: block; 
    border: 0; 
    max-width: 100%; 
    height: auto;  
}

* {
    -moz-box-sizing:border-box;
    -webkit-kit-box-sizing:border-box;
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing:antialiased;
}

@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Oxygen:300,400,700');

body{
  font-size: 1.3rem;
  font-family: 'Oxygen', sans-serif;
}

h1{
  font-family: 'Permanent Marker', cursive;
  font-size: 6rem;
  text-align: center;
}
.App{
  width:80%;
  margin: 0 auto;
}
@supports not (display: grid) {
  .photo-wrap{
    .photowall{
      width:48%;
      margin:10px;
      float: left;
    }
  }
}
.photo-wrap{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}
.photowall{
  background: #ccc;
  .image-const{
    min-height: 300px;
    overflow: hidden;
    display: block;
    padding-bottom: 20px;
    img{
      width:100%;
      max-height: 200px;
      padding-bottom: 20px;
    }
  }
  
}